<ion-header>
  <ion-navbar class="directions-navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fastudy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides class="directions-slider" *ngIf="directionSlider && directionSlider.length">
    <ion-slide *ngFor="let slide of directionSlider">
      <h1>{{slide.name}}</h1>
    </ion-slide>
  </ion-slides>

  <ul class="directions-list" *ngIf="directionList.length">
    <li *ngFor="let slide of directionList" class="directions-list__item" (click)="onDirectionClick(slide.title)">
      <p class="directions-list__item__title">{{slide.title}}</p>
    </li>
  </ul>

</ion-content>
