<ion-header>

  <ion-navbar>
    <button (click)="goBack()" class="custom-back-button back-button">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
    <ion-title>{{directionName}}</ion-title>

    <ion-buttons></ion-buttons>

    <button (click)="addLesson()" class="custom-back-button">
      <ion-icon ios="ios-create" md="md-create" class="ionic-button-class"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ul class="list" *ngIf="directionLessons && directionLessons.length">
    <li *ngFor="let lesson of directionLessons" class="list__item" (click)="onLessonClick(lesson)">
      <p class="list__item__title">{{lesson && lesson.title}}</p>
    </li>
  </ul>
</ion-content>
